.searchbox{
	position: relative;
}
.black-searchbox{
	background: none;
}
.searchbox .hover-table {
	color: white;
	position: relative;	
}

.searchbox .hover-table th {
	position: sticky;
	background: #282c34;
	top: 0;
}

.searchbox .hover-table tr:not(:last-child):not(:nth-last-child(2)):hover
{
	border-bottom: 1px solid orange;
}

.searchbox input {
	font-family: inherit;
	background: none;
	color: white;
}

.searchfield{
	position:relative;
	padding-left: 2px;
	padding-right: 2px;
	margin-top: 2px;
}
.searchbox input{
	background: none;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 1px solid white;
	border-radius: 0;
	padding-bottom: 0;
	padding-left: 0;
}

.searchbox input:hover{
	background: none;
	border-bottom: 1px solid orange;
}

.searchbox input:focus{
	background: none;
	border-bottom: 1px solid  #e6e6ff;
	color: white;
	box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
	outline: none;
}

.form_input:focus ~ .form_label,
.form_input:not(:placeholder-shown) ~ .form_label{
	top: -0.1rem;
	font-size: 0.7rem;
	color:  #8c8c8c;
	margin-bottom: 2px;
}

.form_label{
	position: absolute;
	top: 0.5rem;
	/*left: 0.8rem;*/
	transition: top 200ms ease-in, font-size 200ms ease-in, color 200ms ease-in;
}

.searchbox .selector{
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-radius: 0;
	padding-bottom: 0;
	padding-left: 0;
}

.searchbox .selector, 
.searchbox .selector option,
.searchbox .selector:focus{
	background-color: #282c34;
	color: white;
	box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
	outline: none;
}


